<a href="https://github.com/marionettejs/backbone.marionette/wiki/Using-jst-templates-with-marionette">Template shamelessly copied from doc</a>
<ul>
	{{#list @friends}}
		<li>{{name}}</li>
	{{/list}}
</ul>
